@font-face {
    font-family: 'PixelMplus';
    font-weight: normal;
    src: url(./font/PixelMplus10-Regular.ttf);
}

.firebase-emulator-warning {
    display: none;
}

*:focus {
    outline: none;
}

html {
    background-color: black;
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    font-family: 'PixelMplus', sans-serif;
    font-weight: normal;
    color: white;
    letter-spacing: 0.075em;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
}

.init {
    margin: auto 0;
    text-align: center;
    transform: translateY(-10%);
}

#title {
    margin: 0 0 7.5dvh 0;
    font-size: 5em;
}

#initMessage {
    margin: 5dvh 0;
    font-size: 2.25em;
}

.init h2 {
    font-size: 2em;
}

@media (max-width: 850px) {
    #title {
        margin: 0 0 7.5dvh 0;
        font-size: 4em;
    }
    #initMessage {
        font-size: 1.75em;
    }
    .init h2 {
        font-size: 1.5em;
    }
}

.playOption {
    margin: 0 auto;
    text-align: left;
    width: fit-content;
}

.cpu, .room {
    display: none;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form input {
    margin: 2dvh 2dvw;
    font-size: 1.75em;
    width: 30%;
    font-family: 'PixelMplus', sans-serif;
    padding: 0.25em 0.5em;
    user-select: auto;
    cursor: auto;
}

#enterRoom {
    margin: 2dvh 2dvw;
    padding: 0.25em 1em;
    font-size: 1.75em;
    font-family: 'PixelMplus', sans-serif;
    background-color: grey;
    color: white;
}

@media (orientation: portrait) {
    #enterRoom {
        font-size: 1.5em;
    }
}

.screen {
    height: 90dvh;
    /*width: 85dvh;*/
    width: 90dvh;
    /*border-radius: 5%;
    border: 3px solid white;*/
    margin: auto 0;
    box-sizing: border-box;
}

@media (max-width: 1500px) {
    .screen {
        height: 70dvh;
        /*width: calc(70dvh * 85/90);*/
        width: 70dvh;
    }
}

@media (max-width: 1000px) {
    .screen {
        height: 50dvh;
        /*width: calc(50dvh * 85/90);*/
        width: 50dvh;
    }
}

@media (orientation: portrait) {
    .screen {
        /*height: calc(65dvw * 90/85);*/
        height: 70dvw;
        width: 70dvw;
        margin: 0 auto;
    }
}

#game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.cell {
    position: relative;
}

.shipIcon {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#hp {
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 0.5em;
    font-family: 'PixelMplus', sans-serif;
}

.operator {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#operatorA {
    margin: 0 0 3dvh 0;
}

@media (orientation: portrait) {
    #operatorB {
        margin: 0;
    }
}

.messenger {
    display: flex;
}

#mesSP {
    display: none;
}

@media (orientation: portrait) {
    #mesPC {
        display: none;
    }
    #mesSP {
        display: flex;
    }
}

.messenger .icon {
    width: 15dvw;
    height: 15dvw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (orientation: portrait) {
    .messenger .icon {
        justify-content: center;
    }
}

.icon img {
    width: 50%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 10%;
}

.messenger .message {
    display: flex;
    width: 25dvw;
    height: 15dvw;
    border: 2px solid white;
    background-color: black;
    box-sizing: border-box;
    border-radius: 5%;
    font-size: 1.75em;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1500px) {
    .messenger .icon {
        width: 15dvw;
        height: 15dvw;
    }  
    .messenger .message {
        width: 25dvw;
        height: 15dvw;
        font-size: 1.5em;
    }
}

@media (max-width: 1000px) {
    .messenger .icon {
        width: 15dvw;
        height: 20dvw;
    }  
    .messenger .message {
        width: 30dvw;
        height: 20dvw;
        font-size: 1.25em;
    }
}

@media (orientation: portrait) {
    .messenger .icon {
        width: 30dvw;
        height: 40dvw;
    }  
    .messenger .message {
        width: 50dvw;
        height: 40dvw;
        font-size: 1.2em;
    }
}

.controller {
    display: flex;
    margin: 3dvh 0 0 0;
}

.controller .arrows {
    width: 20dvw;
    height: 20dvw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0%;
    box-sizing: border-box;
}

.controller .buttons {
    width: 20dvw;
    height: 20dvw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 5%;
    box-sizing: border-box;
}

@media (max-width: 1500px) {
    .controller .arrows {
        width: 17.5dvw;
        height: 17.5dvw;
    }    
    .controller .buttons {
        width: 17.5dvw;
        height: 17.5dvw;
    }
}

@media (max-width: 1000px) {
    .controller .arrows {
        width: 22.5dvw;
        height: 22.5dvw;
    }    
    .controller .buttons {
        width: 22.5dvw;
        height: 22.5dvw;
    }
}

@media (orientation: portrait) {
    .controller .arrows, .controller .buttons {
        width: 40dvw;
        height: 40dvw;
    }    
}

.arrows .arrow {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

@media (orientation: portrait) {
    .arrows .arrow {
        font-size: 1.75em;
    }   
}

#enter {
    grid-column: 2/3;
    grid-row: 2/3;
}

#up {
    grid-column: 2/3;
    grid-row: 1/2;
}

#left {
    grid-column: 1/2;
    grid-row: 2/3;
}

#right {
    grid-column: 3/4;
    grid-row: 2/3;
}

#down {
    grid-column: 2/3;
    grid-row: 3/4;
}

.buttons .button {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
}

#move {
    grid-column: 1/2;
    grid-row: 1/2;
}

#move img {
    width: 85%;
    aspect-ratio: 1/1;
}

#attack {
    grid-column: 2/3;
    grid-row: 2/3;
}

#attack img {
    width: 70%;
    aspect-ratio: 1/1;
}